@import '../../styles/globals.scss';

.pagination{
    &-container {
      margin-top: 1rem;
      width: 200px;
      @include flexAround;
    }
    &-item {
      padding: 0.5rem;
      background-color: $amber;
      border-radius: 0.3rem;
      color: $white;
      border: 1px solid $red-orange;
      cursor: pointer;
      &-selected {
        padding: 0.5rem;
        background-color: $orange;
        color: $white;
        border: 1px solid $white;
        cursor: pointer;
        border-radius: 0.3rem;
      }
    }
  }
  