@import '../../../styles/globals.scss';

.card {
  &-container {
    @include flexCenter;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: $border-radius-primary;
    background-color: $black;
    &:hover {
      .card {
        &-title {
          opacity: 1;
          cursor: pointer;
          color: $white;
        }
        &-img {
          opacity: 0.3;
          border: 2px solid $white;
          cursor: pointer;
        }
        &-bookmark {
          display: block;
          background: rgba(255, 255, 255, 0.445);
          padding: 1rem;
          cursor: pointer;
        }
      }
    }
  }
  &-title {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0;
  }
  &-img {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-primary;
  }
  &-bookmark {
    position: absolute;
    bottom: 1rem;
    display: none;
  }
}

@media (max-width: $desktop-bigger) {
  .card {
    &-container {
      width: 175px;
      height: 175px;
    }
    &-title{
      font-size: 1.2rem;
    }
  }
}

@media (max-width: $desktop-big) {
  .card {
    &-container {
      width: 150px;
      height: 150px;
    }
    &-title{
      font-size: 1rem;
    }
  }
}

@media (max-width: $desktop-medium) {
  .card {
    &-container {
      width: 100px;
      height: 100px;
    }
    &-title{
      font-size: 0.7rem;
    }
  }
}

@media (max-width: $phone-big) {
    .card {
      &-container {
        width: 100%;
        height: 300px;
      }
      &-title{
        font-size: 1rem;
      }
    }
  }

  @media (max-width: $phone-small) {
    .card {
      &-container {
        width: 250px;
        height: 250px;
      }
      &-title{
        font-size: 1rem;
      }
    }
  }

