@import '../../styles/globals.scss';

.detail {
  &-container {
    @include flexColumn;
    position: relative;
  }
  &-img {
    width: 70%;
  }
  &-info {
    &-link {
      text-decoration: none;
      color: $red-orange;
      &:hover {
        text-decoration: underline;
        color: $orange;
      }
    }
  }
  &-button {
    border-radius: $border-radius-primary;
    padding: 0.5rem;
    color: $white;
    border: 1px solid black;
    margin-top: 1.5rem;
    &:hover {
      cursor: pointer;
      border: 1px solid $white;
    }
    &-source {
      background: olivedrab;
      &-content {
        color: $white;
        text-decoration: none;
      }
    }
    &-add {
      background: $red-orange;
    }
    &-remove {
      background: midnightblue;
    }
    &-back {
      background: $red-orange;
      color: $white;
      padding: 0.8rem;
      border-radius: $border-radius-primary;
      position: absolute;
      top: 20px;
      left: 20px;
      text-decoration: none;
      &:hover {
        border: 1px solid $white;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $phone-big) {
  .detail{
    &-info{
      font-size: 0.8rem;
    }
  }
}
