@import './globals.scss';

.bookmarks {
  &-container {
    @include flexColumn;
  }
  &-section {
      @include flexColumn;
    width: 100%;
    gap: 2rem;
    &-title {
      color: $white;
      font-size: 1.2rem;
    }
    &-cards {
      width: 70%;
      @include flexCenter;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
  &-remove{
    &-all{
      border-radius: $border-radius-primary;
      padding: 0.5rem;
      color: $white;
      border: 1px solid $black;
      margin-top: 3rem;
      background: midnightblue;
      &:hover{
        border: 1px solid $white;
        cursor: pointer;
      }
    }
  }
}
