// COLOR PALETTE

$orange: #FD7F20;
$red-orange: #FC2E20;
$amber: #FDB750;
$black: #010100;
$white: white;

// MEDIA QUERYS

$desktop-bigger: 1600px;
$desktop-big: 1300px;
$desktop-medium: 1100px;
$desktop-small: 900px;
$desktop-smaller: 800px;
$phone-big: 600px;
$phone-small: 400px;

// VARIABLES

$border-radius-primary: 0.75rem;

// MIXINS

@mixin flex {
    display: flex;
}

@mixin flexCenter {
    @include flex;
    justify-content: center;
    align-items: center;
}

@mixin flexEvenly {
    @include flexCenter;
    justify-content: space-evenly;
}

@mixin flexAround {
    @include flexCenter;
    justify-content: space-around;
}

@mixin flexColumn {
    @include flexCenter;
    flex-direction: column;
}

// FONT-FAMILY / BACKGROUND

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Zen+Old+Mincho&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    background: URL(https://th.bing.com/th/id/R.fd06e6a6c76559ce79ead7925a530f19?rik=KJx%2fE%2fAoDr7eSg&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-16%2fMarvel-Wallpaper-HD-41300.jpg&ehk=1l1Qb7veiIbgBQ8hLn56cWYtQPFP4FJWTrlIrOBtvBs%3d&risl=&pid=ImgRaw&r=0);
    background-color: rgba(0, 0, 0, 0.589);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}