@import './globals.scss';

.home {
  &-container {
    @include flexColumn;
    $color: $white;
  }
  &-title {
    color: $white;
  }
  &-image {
    width: 650px;
  }
  &-description {
    width: 70%;
    color: $white;
    background: #fdb850b2;
    padding: 2rem;
    font-size: 1.2rem;
    border-radius: $border-radius-primary;
    border: 1px solid $white;
  }
  &-news {
    @include flexColumn;
    gap: 2rem;
  }
}

@media (max-width: $desktop-small) {
  .home {
    &-title {
      font-size: 1.5rem;
    }
    &-image {
      width: 500px;
    }
    &-description {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: $desktop-smaller) {
  .home {
    &-description {
      width: 100%;
      border-radius: 0;
      text-align: center;
      text-overflow: ellipsis;
      padding: 1rem 0 1rem 0;
    }
  }
}

@media (max-width: $phone-big) {
  .home {
    &-title {
      font-size: 1.3rem;
    }
    &-image {
      width: 400px;
    }
    &-description {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: $phone-small) {
  .home {
    &-title {
      font-size: 1.1rem;
    }
    &-image {
        width: 250px;
    }
    &-description {
        font-size: 0.5rem;
    }
  }
}
