@import '../../styles/globals.scss';

.footer{
    @include flexCenter;
    background: $orange;
    color: $white;
    margin-top: 3rem;
    padding: 2rem 0 2rem 0;
    height: 150px;
    &-link{
        text-decoration: none;
        color: $red-orange;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
            color: $black;
        }
    }
}

@media (max-width: $desktop-smaller){
    .footer{
        font-size: 0.8rem;
    }
}

@media (max-width: $phone-big) {
    .footer{
        font-size: 0.6rem;
    }
}

@media (max-width: $phone-small) {
    .footer{
        font-size: 0.5rem;
    }
}